/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#bg-img {
   width: 100%;
   position: absolute;
   z-index: -9999;
}

body {
    font-family: 'Oswald', sans-serif;
}

#tourny-menu {
    z-index: 9999;
}

#tourny-menu, #tourny-menu .submenu, #tourny-menu .undermenu {
    list-style-type: none;
}

#tourny-menu .submenu{
    position: absolute;
    z-index: 9999;
}

#tourny-menu .item:hover {
    cursor: pointer;
}

    #tourny-menu > .item {
        display: inline-block;
        width: 200px;
        background-color: #334e85;
        vertical-align: top;
        position: relative;
    }

    #tourny-menu > .item:hover, #tourny-menu > .item.selected {
        background-color: #338537;
    }

    #tourny-menu .item > .title {
        text-transform: uppercase;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        text-align: center;
    }

    #tourny-menu .submenu > .item {
        display: block;
        width: 200px;
        background-color: #1c3b71;
    }

    #tourny-menu .submenu > .item:hover {
        background-color: #1c7122;
    }

    #tourny-menu .submenu > .item > .title {
        text-transform: uppercase;
        font-size: 16px;
        text-align: right;
        padding-right: 10px;
        line-height: 30px;
        height: 30px;
    }

    #tourny-menu .undermenu > .item {
        display: block;
        width: 200px;
        background-color: #123569;
    }

    #tourny-menu .undermenu > .item:hover {
        background-color: #12691c;
    }

    #tourny-menu .undermenu > .item > .title {
        text-transform: capitalize;
        font-size: 13px;
        text-align: right;
        padding-right: 10px;
        line-height: 25px;
        height: 25px;
    }

    #tourny-menu .link:hover {
        color: #000 !important;
        text-decoration: underline;
    }

#tourny-login-box {
    width: 200px;
    border-top: 4px solid #fff;
    position: absolute;
    z-index: 9999;
    background-color: #338537;
}

    #tourny-login-box input {
        width:150px;
        height: 30px;
        margin: 10px auto 10px auto;
        padding: 5px;
        display: block;
        font-size: 20px;
        color: #838383;
    }

    #tourny-login-box input.disabled {
        opacity: 0.5;
    }

    #tourny-login-box label {
        color: #fff;
        padding-left: 18px;
        margin-top: 10px;
        display: block;
    }

    #tourny-login-box .submit {
        height: 50px;
        width: 180px;
        background-color: #686868;
        color: #fff;
        text-transform: capitalize;
    }

        #tourny-login-box .submit:hover {
            background-color: #3b3b3b;
        }

    #tourny-active-user {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 10px;
        margin: 3px;
        color: #fff;
    }

.not-logged-in {
    background-color: #b72d2d;
}

.not-logged-in:hover {
    background-color: #d54b44;
}



#tourny-data-content, #tourny-data-editor {
    height: 100%;

}

#tourny-data-countries {

}

    .tourny-data-country {
        display: block;
        background-color: #77afb0;
        width: 190px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        padding-left: 10px;
    }

    .tourny-data-country:hover {
        background-color: #819598;
        cursor: default;
    }

    .tourny-data-country img {
        height: 15px;
        width: 20px;
        padding-right: 5px;
    }

    .tourny-content-edit-link {
        display: inline;
        padding-left: 5px;
        font-size: 10px;
        color:  #2f41cb;
    }

    .tourny-content-edit-link:hover {
        color: #000;
        text-decoration: underline;
        cursor: pointer;
    }

#tourny-content-header, #tourny-editor-header {
    display: block;
    width: 100%;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 20px;
}

.tourny-editor {
    width: 100%;
    position: relative;
    clear: both;
}

    .tourny-editor-header {
        background-color: #dded59;
        font-size: 20px;
        line-height: 30px;
        height: 30px;
    }

    .tourny-editor-new {
        padding: 10px 10px 10px 10px;
        background-color: #fff;
        display: block;
    }

    .tourny-editor-new input, .tourny-editor-new select {
        width: 150px;
        height: 30px;
        padding: 2px;
        font-size: 18px;
    }

    .tourny-editor-new .submit {
        display: block;
        margin: 10px 0px 0px 162px;
        width: 156px;
        background-color: #686868;
        height: 30px;
        color: #fff;
        text-transform: capitalize;
        font-size: 15px;
     }

    .tourny-editor-new .submit:hover {
        background-color: #3b3b3b;
        cursor: pointer;
    }

    .tourny-editor-new .nowrap {
        white-space: nowrap;
        display: inline-block;
    }

    .tourny-editor-new label{
        width: 150px;
        display: inline-block;
        text-align: right;
        padding-right: 10px;
    }

    .tourny-editor-list {
        background-color: #dded59;
        float: right;
    }

    .tourny-editor-list-title {
        font-size: 19px;
        padding: 2px 10px 2px 10px;
        border-bottom: 3px solid #000;
        margin-bottom: 4px;
    }

    .tourny-editor-list .link {
        cursor: pointer;
        padding: 4px;
    }

    .tourny-editor-list .link:hover {
        cursor: pointer;
        text-decoration: underline;
        background-color: #fff;
    }

    .tourny-editor-list li:nth-child(even) {
        background-color: #ebfa66;
    }

    .tourny-editor-list li:nth-child(odd) {
        background-color: #d6e652;
    }

.tourny-close {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #fff;
    border: 2px solid #000;
    width: 15px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-family: sans-serif;
}
    .tourny-close:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
        border-color: #fff;
    }

